@import url('variables.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*============== HEADER =======================*/

.header {
    /*height: 64px;
    background: #c9ece8;*/
    padding: 5px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-right: 120px;
    padding-left: 20px;
}
/*
.profile {
    background: #9cd3cd;
}
*/
.menu-nav {
    /*background: #60aca3;*/
    padding: 5px;
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color-1);
}
.menu-nav li{
    /*background: #378d83;*/
    padding: 5px;
    list-style: none;
    font-family: "Montserrat-SemiBold.ttf";
    color: var(--font-color-1);
    text-decoration: none;
}
.menu-nav li a{
    /*background: #378d83;*/
    padding: 5px;
    color: var(--font-color-1);
    text-decoration: none;
}

/*============================================*/

/*============== MAIN ========================*/

.main {
    background-image: linear-gradient(var(--color-gradient-1), var(--color-gradient-2) 100%), var(--home-1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 135svh;
}
.article {
    /*background: #0d645a;
    padding: 15px;*/
    width: 626px;
    height: 360px;
    position: relative;
    left: 21svw;
    top: 36svh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--font-color-1);
    
}
.article span{
    /*background: #c1e0dd;
    padding: 15px;*/
    font-size: 28px;
    font-family:"Montserrat-SemiBold.ttf";
}
.article h1{
    /*background: #448b84;
    padding: 15px;*/
    font-size:75px;
    font-family: "Montserrat-SemiBold.ttf";

}
.article p{
    /*background: #03332e;
    padding: 15px;*/
    width: 340px;
    font-family:"Montserrat-Medium,ttf";
}
/*============================================*/

/*============== FOOTER ======================*/

.icons{
    background: var(--color-gradient-2);
    display: flex;
    justify-content: space-evenly;
}

.icons img{
    width: 5%;
    height: 5%;
    /*background: violet;*/
}

/*============================================*/

/*============== HEADER ======================*/
.fonts {
    height: 3550px;
    width: 100%;
    background: var(--color-gradient-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

/* Estilos para las imágenes */
.fonts img {
    background: var(--color-gradient-2);
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 100px; 
}

/* Contenedor de cada imagen y texto alternativo */
.image-container {
    position: relative; /* Permite posicionar el texto de manera absoluta */
    width: 100%; /* Ajusta el ancho del contenedor */
}

/* Estilos para el texto alternativo */
.alt-text {
    position: absolute; /* Posiciona el texto sobre la imagen */
    bottom: 8%; /* Distancia desde la parte inferior */
    left: 6%; /* Centra el texto horizontalmente */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
    color: var(--font-color-1); 
    padding: 20px 40px; 
    border-radius: 5px; 
    font-family: "Montserrat-SemiBold"; 
    font-size: 55px; /* Tamaño del texto */
    opacity: 0; /* Oculta el texto por defecto */
    transition: opacity 0.3s ease; /* Transición suave */
}
.image-container:hover .alt-text {  /* Muestra el texto */
    opacity: 1; 
}
/*============================================*/
