<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../storage/style/blog.css">
    <title>Blog</title>
</head>
<body>
    <main>
        <header class="header">
            <div class="profile">
                <img src="../storage/img/profile.png">
            </div>
            <div-nav class="menu-nav">
                <li><a href="">Blog</a></li>
                <li><a href="../index.html">About</a></li>
                <li><a href="">Contact</a></li>
            </div-nav>
            <div-icons class="div-icons">
                <img src="../storage/img/Vector.png">
                <img src="../storage/img/Vector1.png">
            </div-icons>
        </header>

        <div class="line"></div>

        <section class="navsubmenu">
            <button>Latest Blog</button>
            <div>
                <p>Urban Planning</p>
                <p>Graphics Design</p>
                <p>Web Design</p>
                <p>UX/UI Design</p>
                <p>Technology</p>
            </div>
        </section>

        <section class="main-img">
            <img src="../storage/img/Rectangle 00.png">
        </section>

        <section class="maintext">
            <h2>Urban Planning</h2>
            <h1>Lörem ipsum europlande krohiskap
                panstik, förväntis.  </h1>
            <p>Lörem ipsum europlande krohiskap panstik, förväntis. Klicktivism plada. Ekrofiling hedår, medan al, monoktig härgjord. Supranylingar kask. Geologi byligt dikapobelt. </p>
            <button>Read More</button>
        </section>

        <section class="subtitletext">
            <p>Recent Posts</p>
        </section>

        <article class="flexcontentA">
            <section>
                <img src="../storage/img/Rectangle 01.png">
                <h2>Lörem ipsum patt karirenyst</h2>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </section>
            <section>
                <img src="../storage/img/Rectangle 02.png">
                <h2>Lörem ipsum patt karirenyst</h2>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </section>
            <section>
                <img src="../storage/img/Rectangle 03.png">
                <h2>Lörem ipsum patt karirenyst</h2>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </section>
        </article>

        <article class="flexcontentB">
            <section >
                <img src="../storage/img/Rectangle 04.png">
                <h2>Lörem ipsum patt karirenyst</h2>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </section>
            <section>
                <img src="../storage/img/Rectangle 05.png">
                <h2>Lörem ipsum patt karirenyst</h2>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </section>
            <section>
                <img src="../storage/img/Rectangle 06.png">
                <h2>Lörem ipsum patt karirenyst</h2>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </section>
        </article>

    </main>
    
    <footer>
        <section class="footercontent">
            <h2>daily blog</h2>
            <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen.Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. </p>
            <img src="../storage/img/Group 24.png">
        </section>

        <section class="copyright">
            <p>© 2023 dailyblog. All rights reserved.</p>
        </section>
    </footer>

</body>
</html>